body{background-image:url(wood.jpg);
}
h1{font-family: 'Lobster', cursive;
text-align: center;
color: white;}

nav{padding: 1%;
margin-left: 200px;
font-family: 'Lobster', cursive;}

.navs{
	list-style-type: none;
	overflow: hidden;
	width: 100%;
}
li{
	float: left;
}
li.me a{
	display: block;
	color: white;
	text-align: center;
	padding:10px;
	width: 100px;

}
li a{
	display: block;
	color: white;
	text-align: center;
	padding:15px;
	width: 80px;
	
}
li.me:hover{
	background-color:#333 ;
}
footer{
	text-align: center;
	color: white;
	position: relative;
	height: 10px;
	margin-top: 50px;
}
.in{
	text-align: center;
	color: white;
	position: relative;
	height: 20px;
	margin-top: 400px;
}
h2.hi{
	text-align: center;
}
h2.bye{
	text-align: center;
}

.can{
	display: flex;
	flex-direction: row;
}
img{
	display: block;
	border-radius: 50%;
	padding: 10%;
	margin-left: 30px;
}
article.left{
	width: 30%;
	background-color: skyblue;
	height: 500px;
	border-radius: 30px;
	padding: 10px;
}
article.right{
	width: 70%;
	background-color: skyblue;
	height: 500px;
	border-radius: 30px;
	padding: 10px;
	margin-left: 5px;
}
p.intro{font-family: 'Abel', cursive;
	width: 800px;
	padding: 5px;
	height: 2px;
	text-align: left;
	
	font-size:18px;

}

h2{font-family: 'Lobster', cursive;
color: white;
}
div.container{
	display: flex;
	flex-direction: row;
}
article.left-column {text-align: center;
	width: 50%;
	background-color: orange;
	height: 500px;
	border-radius: 30px;
	padding: 10px;
}
article.right-column {
	width: 50%;
	background-color: pink;
	height: 500px;
	border-radius: 30px;
	padding: 10px;
	margin-left: 5px;
}
h2.dan{
	text-align: center;
}

}
h2.message{text-align: center;
}
p{font-family: 'Abel', cursive;}
.input{
	width: 500px;
	padding: 2px;
	height: 25px;
}
.form{
	font-family: 'Abel', cursive;
}
iframe{
border-radius: 10px;
width: 100%;
}
ul.social{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
ul.social li{
	list-style: none;
	float: left;
	margin: 10px;
	width: 100px;
	height: 100px;
	line-height: 70px;
	text-align: center;
	font-size:50px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	color: white;

}
 li.fb a:hover{
	background: #3b5999;

}
li.insta a:hover{
	background: #e4405f;}

li.sky a:hover{
	background: #00AFF0;}

li.you a:hover{
	background: #cd201f;}

li.ya a:hover{
	background: #410093;}



.web{font-family: 'Lobster', cursive;
color: white;
text-align: center;
font-size: 20px;
}
.foot{
	text-align: center;
	color: white;
	position: relative;
	height: 10px;
	margin-top: 300px;
}



h4{font-family: 'Abel', cursive;
text-align: center;
color: white;
}
div.man{
	display: flex;
	flex-direction: row;
}
img{
	border-radius: 50%;
	padding: 1px;
}
article.show{
		width: 30%;
	background-color: lightgreen;
	height: 700px;
	border-radius: 30px;
	padding: 10px;
}
article.info{
	width: 35%;
	background-color: lightgreen;
	height: 700px;
	border-radius: 30px;
	padding: 10px;
	margin-left: 2px;
}
	article.add{
		width: 35%;
	background-color: lightgreen;
	height: 700px;
	border-radius: 30px;
	padding: 10px;
	margin-left: 2px;
		text-align: left;
}
h2.interest{
	text-align: left;
}
.cv nav{
	padding: 1%;
	margin-left: 280px;
	font-family: 'Lobster', cursive;
}
@media only screen and (max-width: 600px) {
	h1{
flex-direction: column;
	}
	.navs li.me a.we{
		flex-direction: column;
		width: 100%;
		padding: 1%;
		margin-left: 1%;
}
h3{
	flex-direction: column;
	margin: auto;
	padding: 1%;
 
     }
}


















