.csy img{
	padding: 10px;
	margin-left: 400px;
	display: block;
}
.introduction{
	text-align: center;
}
ol li{
	margin-left: 100px;
}
.index{
	text-align: center;
}
.influence{
	text-align: center;

}
.about{
	text-align: center;
}
.g{
	text-align: center;
}
.h{
	text-align: center;
}
.f{
	text-align: center;
}
.i{
	text-align: center;
}
.j{
	text-align: center;
}

